
main 
    .container 
        .about-us
            section.breadcrumb
                ul
                    li Home
                    li 
                        a Về chúng tôi
            h1 Về chúng tôi
            .about-us__content 
                .about-us__content__img 
                    img(src="../assets/images/Layer 75.png", alt="")
                .about-us__content__desc 
                    img(src="../assets/icons/Logo.png", alt="")
                    h2 Giới thiệu chung về mỹ phẩm handmade Mandala
                    p Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt. Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt.sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt.  
                    br 
                    a Xem thêm