main 
    .container 
        .account
            section.breadcrumb
                ul
                    li Home
                    li 
                        a Tài khoản
            section.account__content 
                .account__content__detail
                    h1 Tài khoản 
                    table
                        tr 
                            th Order
                            th Date
                            th Tình trạng thanh toán
                            th Tổng
                            th Nợ
                        tr 
                            td #1006
                            td May 13, 2013
                            td Đã thanh toán
                            td 350.000 
                                span đ
                            td 0
                        tr 
                            td #1006
                            td May 13, 2013
                            td Đã thanh toán
                            td 350.000 
                                span đ
                            td 0
                        tr 
                            td #1006
                            td May 13, 2013
                            td Đã thanh toán
                            td 350.000 
                                span đ
                            td 0
                        tr 
                            td #1006
                            td May 13, 2013
                            td Thanh toán 50%
                            td 350.000 
                                span đ
                            td 270.000
                                span đ
                .account__content__author
                    h2 Chi tiết tài khoản
                    ul 
                        li <i class="fas fa-user"></i>&ensp;
                            span GiangLe
                        li &emsp;&ensp;Leanhgiang89@gmail.com
                        li  
                            br
                        li <i class="fas fa-map-marker-alt"></i>&ensp;Tòa nhà Hà Nội group 442 Đội Cấn,<br>&emsp;&ensp;Ba Đình Hà Nội
                        li <i class="fas fa-blender-phone"></i>&ensp;(04) 3786 8904
