main
    .container 
        .news    
            ul.breadcrumb
                li Home
                li Sản phẩm
                li #[a(href="") Trang sức]
                li #[a(href="") Lắc tay]
            h1 Blog 
            h2 bài viết mới nhất 
            section.news__expand 
                .article-sub 
                    .article-sub__child 
                        div 
                            img(src="../assets/images/blog/Layer 69 copy 2.png", alt="")
                        div 
                            p.date 
                                span 11 
                                span /Tháng 5 
                            p.by Đăng bởi Giangle
                    .article-sub__child 
                        div 
                            img(src="../assets/images/blog/Layer 69 copy 2.png", alt="")
                        div 
                            p.date 
                                span 11 
                                span /Tháng 5 
                            p.by Đăng bởi Giangle
                    .article-sub__child 
                        div 
                            img(src="../assets/images/blog/Layer 69 copy 2.png", alt="")
                        div 
                            p.date 
                                span 11 
                                span /Tháng 5 
                            p.by Đăng bởi Giangle
                .tags
                    h2.general__title Blog tags
                    .general__content 
                        ul
                            li
                                a(href="") Đồng hồ
                            li
                                a(href="") Túi
                            li
                                a(href="") Phụ kiện
                            li
                                a(href="") Đông hồ
                            li
                                a(href="") Túi
                            li
                                a(href="") Giày
                            li
                                a(href="") Sandal
                            li
                                a(href="") Áo sơ mi
                            li
                                a(href="") Nước hoa
                .video 
                    h2.video__title Lastest Video
                    img(src="../assets/images/blog/Shape 2.png", alt="")
            section.news__content
                .articles 
                    .article
                        img(src="../assets/images/blog/Layer 85.png", alt="logo")
                        h3 Nàng béo không ngại diện váy áo nổi bật
                        hr
                        p Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt.Trong tiết xuân hè, nàng ngoại cỡ thắp sáng phong cách bằng quần họa tiết nhiệt đới đi kèm áo sơ mi nhã nhặn.Trang phục họa tiết điện tử được nàng phối cùng chân váy kẻ caro, làm nên style vừa hiện đại, vừa phảng phất nét cổ điển.Lối diện đồ hàng ngày đơn giản, khỏe khoắn của cô khi kết hợp chất liệu jean.Nữ blogger rực rỡ khi hòa trộn các gam đỏ, hồng, tím... một cách vui tươi, kèm theo các phụ kiện điệu đà. 
                        p.author Bởi NamTran ( 27 / 05 / 2015 )
                        hr
                        div 
                            a(href="") Đọc thêm &#10095;
                            span 23 Bình luận
                p.tag 
                    span Tag: 
                    span Men
                form 
                    .row
                        .col-10
                            label(for="fname") Tên *
                        .col-90 
                            input#fname(type="text", name="fname")
                    .row
                        .col-10
                            label(for="femail") Email *
                        .col-90 
                            input#femail(type="text", name="femail") 
                    .row
                        .col-10
                            label(for="fcmt") Ý kiến *
                        .col-90 
                            textarea#fcmt(name="fcmt"  rows="10")
                    .row 
                        .col-100 
                            input(type="submit", value="Gửi ý kiến") 

                