main 
    .container 
        .my-cart
            section.breadcrumb
                ul
                    li Home
                    li Sản phẩm
                    li 
                        a Trang sức
            h1 Giỏ hàng
            table
                tr 
                    th ảnh
                    th tên sản phẩm
                    th giá
                    th số lượng
                    th tổng số
                    th xóa
                tr 
                    td 
                        img(src="../assets/images/Layer-75.png", alt="")
                    td Lắc tay D&G
                    td 345.000 
                        span đ
                    td 1
                    td 350.000 
                        span đ
                    td <i class="fas fa-trash"></i>
                tr 
                    td 
                        img(src="../assets/images/Layer-75.png", alt="")
                    td Lắc tay D&G
                    td 345.000 
                        span đ
                    td 2
                    td 690.000 
                        span đ
                    td <i class="fas fa-trash"></i>
            ul.action 
                li 
                    button Tiếp tục mua hàng
                li
                    button Xóa
                li
                    button Cập nhật
