footer 
    .container
        .footer 
            .contact  
                p.footer__title Liên hệ với chúng tôi
                ul.footer__content
                    li <i class="fas fa-map-marker-alt green-light"></i> Tầng 4, Tòa nhà Hanoi Group, Số 442 Đội Cấn,<br> &emsp;P. Cống Vị, Quận Ba Đình, Hà Nội 
                    li <i class="fas fa-phone-alt green-light"></i> (04) 6674 2332 - <i class="fas fa-blender-phone green-light"></i> (04) 3786 8904
                    li <i class="fas fa-phone-alt green-light"></i> (04) 6680 9686 - <span class="green-light"><i class="fas fa-envelope"></i> Support@bizweb.vn</span>
            .delivery 
                p.footer__title Chuyển hàng
                ul.footer__content 
                    li 
                        a mua sắm trực tuyến 
                    li.green-light 
                        a &bull; Đến từ công ty chúng tôi 
                    li 
                        a Chính sách vận chuyển 
                    li 
                        a vận chuyển thông tin 
            .support 
                p.footer__title Hỗ trợ
                ul.footer__content 
                    li 
                        a Câu chuyện của chúng ta
                    li 
                        a Thanh toán an toàn 
                    li 
                        a Tùy chọn vận chuyển 
                    li  
                        a Chính sách vận chuyển 
            .info
                p.footer__title Thông tin 
                ul.footer__content 
                    li  
                        a(href="/about-us.html") về Chúng tôi 
                    li 
                        a Điều khoản & Điều kiện 
                    li 
                        a Chính sách riêng tư 
                    li 
                        a Đơn đặt hàng và Returns 
        .copyright 
            p.copyright__detail &copy; Copyright 2008-2014 DKT Technology JSC 
            .copyright__payment
                img(src="../assets/images/payment.png" alt="payment")