header
    nav
        .container 
            .top-nav
                a.top-nav__logo #[img#logo(src="./assets/icons/Logo.png" alt="logo")]
                input#res-menu(type="checkbox")
                label( for="res-menu") 
                    i#sign-open.fa.fa-bars.fa-2x 
                    i#sign-close.fa.fa-times.fa-3x 
                ul.top-nav__menu 
                    li 
                        a Trang chủ
                    li 
                        a Giới thiệu 
                    li  
                        .dropdown 
                            .dropdown__btn Sản phẩm 
                                i.fas.fa-angle-down
                            .dropdown__content 
                                a Mỹ phẩm
                                a Trang sức
                                a Phụ kiện 
                                a Nước hoa
                    li 
                        a Tin tức 
                    li 
                        a Bản đồ 
                    li  
                        a Liên hệ
                ul.top-nav__search 
                    li 
                        a 
                            i.fas.fa-shopping-cart
                    li 
                        a 
                            i.fas.fa-search
            