main 
    .container
        .notfound 
            img(src="../assets/images/Header404.png", alt="")
            p Đây không phải là trang web bạn đang tìm kiếm
            form 
                input(type="text", name="search")
                button(type="submit") <i class="fas fa-search fa-lg"></i>
            div 
                span 
                    a(href="/contact-us.html") Liên hệ
                span 
                    a(href="/") Trang chủ