main
    .container.container--mod
        .product-detail
            section.breadcrumb
                    ul
                        li Home
                        li Sản phẩm
                        li #[a(href="") Trang sức]
                        li #[a(href="") Lắc tay]
            section.product-detail__product
                .product-detail__product__list-pic
                    ul 
                        li 
                            img.arrow(src="../assets/images/product-detail/arrow top.png", alt="")
                        li 
                            img(src="../assets/images/product-detail/Layer 80.png", alt="")
                        li 
                            img(src="../assets/images/product-detail/Layer 82.png", alt="")
                        li 
                            img(src="../assets/images/product-detail/Layer 83.png", alt="")
                        li 
                            img(src="../assets/images/product-detail/Layer 84.png", alt="")
                        li 
                            img.arrow(src="../assets/images/product-detail/arrow bottom.png", alt="")
                .product-detail__product__picture 
                    img(src="../assets/images/product-detail/Layer 79.png", alt="")
            section.product-detail__detail
                h1.product-detail__detail__title Lắc taY TYFFANY XU HƯỚNG MỚI NHẤT 
                h3.product-detail__detail__sku TYFFANY MS 3201
                p.product-detail__detail__price 355.000
                    span.vnd đ
                    span.old-price  450.000
                    span.old-vnd đ
                p.product-detail__detail__desc Không thể phủ nhận, thời trang và phong cách chính là “tuyên ngôn” không lời mạnh mẽ nhất của mỗi người phụ nữ. Do đó, việc mua sắm thời trang trở thành niềm vui, và có khi là nguồn cảm hứng vô tận để phái đẹp sống vui, sống đẹp hơn trong mắt nửa còn lại của thế giới. Để F5 tủ đồ của mình trước những xu hướng ngày một đa dạng hơn trong thế giới thời trang, nhiều chị em không ngần ngại chi tiêu “mạnh tay” để sở hữu những  món đồ yêu thích.
                form.product-detail__detail__form 
                    label(for="color") Màu sắc 
                    select#color(name="color")
                        option(value="Màu bạc") Màu bạc
                        option(value="Màu vàng") Màu vàng
                    label(for="size") size 
                    select#size(name="size") 
                        option(value="12") 12
                        option(value="13") 13
                    label(for="amount") Số lượng
                    select#amount(name="amount") 
                        option(value="1") 1
                        option(value="0") 0
                        option(value="2") 2
                    .action 
                        button.action__buy Mua hàng
                        span.like <i class="fas fa-heart"></i>
                        span.reset <i class="fas fa-sync fa-lg"></i>
                .product-detail__detail__social
                    p Shipping & 
                        span Returns 
                    .img 
                        img(src="../assets/images/product-detail/Layer 89.png", alt="")
            section.product-detail__desc
                ul.product-detail__desc__head 
                    li Đặc điểm nổi bật
                    li Thông tin sản phẩm
                    li Đánh giá
                .product-detail__desc__text.text-align-left 
                    .title THE MARK OF A LEGEND
                    .line.float-left
                    br
                    p Tự hào được ghi là năm mà Tiffany & Co là thành lập, bộ sưu tập mang tính biểu tượng này cung cấp cho một cái gật đầu với qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp đường cong và đường nét mượt mà.
                .product-detail__desc__img.text-align-right
                    img(src="../assets/images/product-detail/Layer 88.png", alt="")
                .product-detail__desc__img
                    img(src="../assets/images/product-detail/Layer 86.png", alt="")
                .product-detail__desc__text.text-align-right 
                    .title THE MARK OF A LEGEND
                    .line.float-right
                    br
                    p Tự hào được ghi là năm mà Tiffany & Co là thành lập, bộ sưu tập mang tính biểu tượng này cung cấp cho một cái gật đầu với qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp đường cong và đường nét mượt mà.
                .product-detail__desc__text.text-align-left 
                    .title THE MARK OF A LEGEND
                    .line.float-left
                    br
                    p Tự hào được ghi là năm mà Tiffany & Co là thành lập, bộ sưu tập mang tính biểu tượng này cung cấp cho một cái gật đầu với qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp đường cong và đường nét mượt mà.
                .product-detail__desc__img.text-align-right 
                    img(src="../assets/images/product-detail/Layer 85 Copy.png", alt="")
                .product-detail__desc__img
                    img(src="../assets/images/product-detail/Layer 87.png", alt="")
                .product-detail__desc__text.text-align-right 
                    .title THE MARK OF A LEGEND
                    .line.float-right
                    br
                    p Tự hào được ghi là năm mà Tiffany & Co là thành lập, bộ sưu tập mang tính biểu tượng này cung cấp cho một cái gật đầu với qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp đường cong và đường nét mượt mà.
                
            section.product-detail__top-sale
                .top-sale 
                    h3.top-sale__title Sản phẩm bán chạy 
                    ul.top-sale__content 
                        li 
                            div.top-sale__content__product
                                .content-product__img 
                                    img(src="../assets/images/product-detail/Layer 31 copy.png", alt="")
                                .content-product 
                                    .content-product__title Mỹ phẩm châu Âu
                                    .content-product__like 
                                        ul 
                                            li <i class="fas fa-heart"></i>
                                            li <i class="fas fa-heart"></i>
                                            li <i class="fas fa-heart"></i>
                                            li <i class="fas fa-heart"></i>
                                            li <i class="fas fa-heart"></i>
                                        p  ( 4 lượt mua )
                                    p.content-product__price 355.000
                                        span.vnd đ
                        li 
                            div.top-sale__content__product
                                .content-product__img 
                                    img(src="../assets/images/product-detail/Layer 31 copy.png", alt="")
                                .content-product 
                                    .content-product__title Mỹ phẩm châu Âu
                                    .content-product__like 
                                        ul 
                                            li <i class="fas fa-heart"></i>
                                            li <i class="fas fa-heart"></i>
                                            li <i class="fas fa-heart"></i>
                                            li <i class="fas fa-heart"></i>
                                            li <i class="fas fa-heart"></i>
                                        p  ( 4 lượt mua )
                                    p.content-product__price 355.000
                                        span.vnd đ
                        li 
                            div.top-sale__content__product
                                .content-product__img 
                                    img(src="../assets/images/product-detail/Layer 31 copy.png", alt="")
                                .content-product 
                                    .content-product__title Mỹ phẩm châu Âu
                                    .content-product__like 
                                        ul 
                                            li <i class="fas fa-heart"></i>
                                            li <i class="fas fa-heart"></i>
                                            li <i class="fas fa-heart"></i>
                                            li <i class="fas fa-heart"></i>
                                            li <i class="fas fa-heart"></i>
                                        p  ( 4 lượt mua )
                                    p.content-product__price 355.000
                                        span.vnd đ
                .top-sale 
                    h3.top-sale__title Sản phẩm mua nhiều 
                    ul.top-sale__content 
                        li 
                            div.top-sale__content__product
                                .content-product__img 
                                    img(src="../assets/images/product-detail/Layer 31 copy.png", alt="")
                                .content-product 
                                    .content-product__title Mỹ phẩm châu Âu
                                    .content-product__like 
                                        ul 
                                            li <i class="fas fa-heart"></i>
                                            li <i class="fas fa-heart"></i>
                                            li <i class="fas fa-heart"></i>
                                            li <i class="fas fa-heart"></i>
                                            li <i class="fas fa-heart"></i>
                                        p  ( 4 lượt mua )
                                    p.content-product__price 355.000
                                        span.vnd đ
                        li 
                            div.top-sale__content__product
                                .content-product__img 
                                    img(src="../assets/images/product-detail/Layer 31 copy.png", alt="")
                                .content-product 
                                    .content-product__title Mỹ phẩm châu Âu
                                    .content-product__like 
                                        ul 
                                            li <i class="fas fa-heart"></i>
                                            li <i class="fas fa-heart"></i>
                                            li <i class="fas fa-heart"></i>
                                            li <i class="fas fa-heart"></i>
                                            li <i class="fas fa-heart"></i>
                                        p  ( 4 lượt mua )
                                    p.content-product__price 355.000
                                        span.vnd đ
                        li 
                            div.top-sale__content__product
                                .content-product__img 
                                    img(src="../assets/images/product-detail/Layer 31 copy.png", alt="")
                                .content-product 
                                    .content-product__title Mỹ phẩm châu Âu
                                    .content-product__like 
                                        ul 
                                            li <i class="fas fa-heart"></i>
                                            li <i class="fas fa-heart"></i>
                                            li <i class="fas fa-heart"></i>
                                            li <i class="fas fa-heart"></i>
                                            li <i class="fas fa-heart"></i>
                                        p  ( 4 lượt mua )
                                    p.content-product__price 355.000
                                        span.vnd đ
                        li 
                            div.top-sale__content__product
                                .content-product__img 
                                    img(src="../assets/images/product-detail/Layer 31 copy.png", alt="")
                                .content-product 
                                    .content-product__title Mỹ phẩm châu Âu
                                    .content-product__like 
                                        ul 
                                            li <i class="fas fa-heart"></i>
                                            li <i class="fas fa-heart"></i>
                                            li <i class="fas fa-heart"></i>
                                            li <i class="fas fa-heart"></i>
                                            li <i class="fas fa-heart"></i>
                                        p  ( 4 lượt mua )
                                    p.content-product__price 355.000
                                        span.vnd đ
                                    
