
main 
    .container 
        .signin
            section.breadcrumb
                ul
                    li Home
                    li 
                        a Đăng nhập
            h1 Đăng nhập
            button Đăng ký
            br 
            br 
            br
            form
                h2 Khách hàng đăng ký
                label Nếu bạn có một tài khoản xin vui lòng đăng nhập
                br 
                br
                label(for="f-email") Địa chỉ Email * 
                br 
                input#f-email(type="text", name="f-email")
                br 
                label(for="fpwd") Password * 
                br 
                input#fpwd(type="text", name="fpwd")
                br 
                label 
                    a Quên mật khẩu ?
                input(type="button", value="Đăng nhập")

