input#popup(type="checkbox", name="popup" checked)
.popup
    label(for="popup")
        img(src="../assets/images/close.png", alt="")
    .popup__content
        h1 Gửi email
        p Hãy gửi email cua bạn liên hệ với chúng tôi để đc tư vấn tôt nhất<br>Sự hai lòng cua bạn la thành công của chúng tôi
        form
            input#popup-email(type="text", name="popup-email" placeholder="Email của bạn ...")
            input(type="submit", value="Gửi email")