extends ../layouts/layout.pug 
block title 
    title Về chúng tôi
block header
    include ../partials/header.pug
block main
    include ../partials/about-us.pug
block footer
    include ../partials/footer.pug
    