extends ../layouts/layout.pug 
block title 
    title Blog
block header
    include ../partials/header.pug
block main
    include ../partials/blog-detail.pug
block footer
    include ../partials/footer.pug
    