extends ../layouts/layout.pug 
block title 
    title Home Page
block header
    include ../partials/header.pug
block main
    include ../partials/index.pug
block footer
    include ../partials/footer.pug
    