extends ../layouts/layout.pug 
block title 
    title Project 1
block header
    include ../partials/header.pug
block main
    include ../partials/main.pug
block footer
    include ../partials/footer.pug
    