extends ../layouts/layout.pug 
block title 
    title Chi tiết
block header
    include ../partials/header.pug
block main
    include ../partials/product-detail.pug
block footer
    include ../partials/footer.pug
    