extends ../layouts/layout.pug 
block title 
    title Sản phẩm
block header
    include ../partials/header.pug
block main
    include ../partials/product.pug
block footer
    include ../partials/footer.pug
    