extends ../layouts/layout.pug 
block title 
    title Đăng ký
block header
    include ../partials/header.pug
block main
    include ../partials/signup.pug
block footer
    include ../partials/footer.pug
    