@import "../base/variables";
.about-us {
    .breadcrumb {
        ul {
            padding: 20px 0;
            list-style: none;
            margin-bottom: 20px;
            border-bottom: 1px solid gray;
            li {
                display: inline;
                font-size: 18px;
                a {
                    color: $default-color;
                    text-decoration: none;
                    &:hover {
                        color: darkblue;
                    }
                }
            }
            li+li:before {
                padding: 8px;
                color: black;
                content: "\276F";
            }
        }
    }
    h1 {
        text-transform: uppercase;
        font-weight: normal;
        padding-bottom: 10px;
    }
    &__content {
        padding: 30px 0;
        overflow-y: hidden;
        &__img {
            display: inline-block;
            width: 45%;
            img {
                width: 100%;
            }
        }
        &__desc {
            float: right;
            width: 52%;
            h2 {
                text-transform: uppercase;
                font-size: 18px;
                font-weight: bold;
                margin: 20px 0;
            }
            p {
                font-size: 14px;
                font-weight: 400;
                text-align: justify;
            }
            a {
                color: grey;
            }
        }
    }
}