@import "../base/variables";
header {
    background-color: $bg-header;
    padding: 10px 0;
    position: sticky;
    top: 0;
    width: 100%;
    opacity: 0.83;
    .top-nav {
        // position
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        // child
        &__logo {
            margin-right: 20px;
        }
        &__menu,
        &__search {
            display: flex;
            flex-flow: row nowrap;
            //  child
            li {
                margin-right: 20px;
                a {
                    font-weight: 600;
                    text-transform: uppercase;
                    transition: all 0.3s ease;
                    &:hover {
                        color: $green-light;
                    }
                }
            }
        }
        &__search {
            li:last-child {
                margin-right: 0;
            }
        }
    }
}

#res-menu,
#sign-open,
#sign-close {
    display: none;
    cursor: pointer;
}

.dropdown {
    &__btn {
        font-weight: 600;
        text-transform: uppercase;
        color: $green-light;
    }
}